root{
    font-family: 'Zeyada', cursive;
    min-height: 100vh;
    max-width: 1280px;
    
}

body{
    margin: auto;

    border: 1px solid black;
   

   
} 

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightslategrey;
    border: 1px solid #e7e7e7;
    height: 100px;
    /* fixed navigation bar */
    top: 0;
    width: 100%;
    /* sticky nav bar */
   position: -webkit-sticky; 
   position: sticky;
   top: 0;

}

h1{
    display: block;
    color: black;
    padding: 15px;
    font-size: large;
    
}

li{
    float: right;
    color: white;
    /* add a gray right border to all list items */
    border-right: 1px solid #bbb;
}

/* gives ul color */
a{
    display: block;
    padding: 16px;
    background-color: gray;
}

/* hover over */
li a:hover{
    background-color: #04AA6D;
    color: white;
}

/* active/current navigation link */
.active {
    background-color: #04AA6D;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    height: 450px;
    background-image: url(H&M.jpg);
    background-repeat: repeat-x;
    background-size: cover;
    background-color: #333333; 
}

.banner-heading, h2 {
    text-align: center;
    flex: 1;
    justify-self: center;
    color: black;
    font-size: 86px;
    font-weight: bold;
    position: relative;
    animation: appear 1s ease-in-out 0s forwards;
    font-size: 24px;
}

.footer{
    position: fixed;
    left:0;
    bottom: 100px;
    width: 1000px;
    background-color: grey;
    color:#fff;
    text-align: center;

  }

  /* so words can come down */
@keyframes appear {
    from{
        opacity: 0.0;
        top:-100px;
    }
    
    to{
        opacity: 1.0;
        top:0.0;
    }
}